---
- name: Ensure fonts directory
  file:
    path: "{{ desktop_nerd_font_dir }}"
    state: directory

- name: Download and unpack Hack Nerd Font
  unarchive:
    remote_src: yes
    src: "{{ desktop_nerd_font_url }}"
    dest: "{{ desktop_nerd_font_dir }}"
    creates: "{{ desktop_nerd_font_dir }}/HackNerdFont-Regular.ttf"

- name: Update font cache
  command: fc-cache -f -v
  changed_when: false
